/* ============================================= */
/*              COLOR VARIABLES                  */
/* ============================================= */
$color-text-grey: #777;
$color-accent-turquoise: #58e1c1;
$color-white: #fff;
$color-link-blue: #51ddfc;
$color-green: #63cc82;
$color-dusty-rose: #e4757a;
$color-orange: #fd7856;
$color-purple: #927bc1;




/* ============================================= */
/*              MEDIA QUERY VARIABLE             */
/* ============================================= */
$break-lg: 768px;


